{
    "extends": ["airbnb"],
    "rules": {
        "max-len": ["error", 120],
        "indent": ["error", 4],
        "react/jsx-indent": [2, 4],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}]
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
}
